/* Global Normalization */
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  justify-self: center;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --light-mauve: #cd9ea5;
  --mauve: #9a5765;
  --plumb: #67264f;
  --purple: #36356e;
  --dark-purple: #110b3c;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;

  /* Header */
  header {
    color: white;
    text-align: center;
    div {
      background-color: var(--purple);
      padding: 30px;
    }
    nav {
      display: flex;
      justify-content: space-around;
      padding: 10px;
      background-color: var(--dark-purple);

      a:hover {
        color: var(--light-mauve);
      }
    }
  }

  /* Main */
  main {
    text-align: center;
    padding: 4rem;

    img {
      margin: 4rem;
    }
  }

  /* Footer */
  footer {
    background-color: var(--purple);
    color: white;
    padding: 20px;
    text-align: center;
  }
}
